# dependencies
/node_modules
/backend/node_modules
/frontend/node_modules

# local env files
.env
.env*.local
/backend/.env
/backend/.env*.local

# IDE and editor files
.vscode
.idea

# Build files
/dist
/frontend/build
/backend/dist

# Temporary files
/tmp
/temp
/backend/tmp
/backend/temp
/frontend/tmp
/frontend/temp

# Coverage files
/coverage
/backend/coverage
/frontend/coverage

# ESLint
.eslintcache
/backend/.eslintcache
/frontend/.eslintcache